<!DOCTYPE html>
{% extends "user-info-show-in-every-page.html"%}
{% block content %}
<head>
    <title>编辑单词</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<h2>你正在编辑：{{word}} 中</h2>
<form method="POST">
    <textarea id="content" name="content" rows="15" cols="100">{{content}}</textarea>
    <br>
    <input type="submit" name="submit_button" value="完成">
    <input type="submit" name="submit_button" value="删除此单词" style="margin-left:4em; display:inline-block">
</form>
{% endblock %}