<!DOCTYPE html>
{% extends "user-info-show-in-every-page.html"%}
{% block content %}
<head>
    <title>OMIGA文章阅读</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<h1>欢迎来到HOTINI HEGUDE 校园政府 的主页</h1>
<h3>以下是目前它所有的章节供你选择</h3>

<form method="POST">
    <input type="submit" name="submit_button" value="1.memode">
    <br>
    <input type="submit" name="submit_button" value="2.honakode">
    <br>
    <input type="submit" name="submit_button" value="3.goku">
</form>

<br>
<h3>HOTINI HEGUDE简介</h3>
<p>HOTINI HEGUDE（校园政府）是一部由fanfansmilkyway从2023/6开始连载（正在连载中）的一部小说。</p>
<p>小说大体讲述了这样的一个故事：有一所叫WEKI的中学，是出了名的制度极其严厉，根本不把学生当人看待。于是对学校领导的制度极其不满的一些人号召同学组织起一个校园中的政府，帮助同学消灭这些变态的领导</p>
<p>本部小说是纯OMIGA语言的一部小说，但语法和词汇其实不是非常困难，建议借助词典阅读。</p>
<p>本部小说适合中高级OMIGA使用者阅读</p>
{% endblock %}