<head>
    <title>OMIGA</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<h1>欢迎来到OMIGA主页</h1>
<img src="{{ url_for('static', filename='omiga.png') }}"
    class="image"/>
<p>若想学习OMIGA语言，请访问：<a href="/lessons">omiga.org/lessons</a></p>
<p>请访问：<a href="/uploads">omiga.org/uploads</a> 以添加OMIGA单词，为OMIGA增添一份力量</p>
<p>若需要修改已有的OMIGA单词，请访问：<a href="/edit">omiga.org/edit</a></p>
<p>在<a href="/words">omiga.org/words</a>搜索OMIGA语言单词</p>
<br>
<br>
<br>
<p>最后更新时间：2023/7/27</p>
<p>源代码：https://github.com/fanfansmilkyway/OMIGA-code</p>
