<head>
  <title>添加单词</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<h1>在此你可以往OMIGA字典中添加单词</h1>

<form method="POST">
  <p>你要添加什么单词?</p>
  <input id="title" name="title">
  <br>
  <br>
  <p>对此单词的解释?</p>
  <textarea id="content" name="content" rows="15" cols="100"></textarea>
  <br>
  <input type="submit" name="submit_button" value="完成">
  <br>
  <br>
  <p>注意，如果单词已经存在于OMIGA字典中，你将不能添加单词</p>
  <p>不妨在此检查一下已经存在的单词</p>
  <br>
  <input id="check" name="check">
  <input type="submit" name="submit_button" value="检查">
  </br>
</form>